$font-stack:    Helvetica, sans-serif;
$primary-color: #153351;

body {
  font: 100% $font-stack;
  color: $primary-color;
  padding: 0;
  margin: 0;
}

.threadList {
  max-width: 55em;
  margin-left: auto;
  margin-right: auto;

  .thread {
    margin: 0;
    padding: 0.5em;
  }
}
